  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>

  <!-- Your embedded video player code -->
  <div class="fb-video" data-href="https://www.facebook.com/GoManilaPh/videos/{{ index .Params 0 }}/" data-width="600" data-show-text="false"><blockquote cite="https://developers.facebook.com/GoManilaPh/videos/{{ index .Params 0 }}/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/GoManilaPh/videos/{{ index .Params 0 }}/"></a><p>If the video is not showing up, please visit <a href="https://www.facebook.com/GoManilaPh/videos/{{ index .Params 0 }}/">this link</a> instead</blockquote></div>

